/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--app-backgorund-color);
}

:root {
  --app-backgorund-color: #f6f6f6;
  --app-primary-color: #e34234;
}

.spacer {
  flex: 1 1 auto;
}
